name: Quality Gate - Engenharia de Software II

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  lint-and-style:
    name: Rust Linting (Clippy)
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Instalar Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Verificar Formatação (Rustfmt)
        run: cargo fmt --all -- --check

      - name: Análise Estática (Clippy)
        run: cargo clippy -- -D warnings
